In [32]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Load the iris dataset
iris = sns.load_dataset('Iris')

In [18]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [26]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [20]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [3]:
X = iris[['sepal_length', 'petal_length']]
y = iris['species']

In [4]:
y_encoded = pd.get_dummies(y, drop_first=True)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.2, random_state=42)

In [6]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [7]:
y_pred = model.predict(X_test)

In [17]:
y_pred

array([[ 0.41804984,  0.51191773],
       [ 0.08608703, -0.06692492],
       [ 0.40738303,  0.92922584],
       [ 0.41018005,  0.47373098],
       [ 0.29557987,  0.52744116],
       [ 0.11711105, -0.10401322],
       [ 0.36504253,  0.30161601],
       [ 0.317108  ,  0.58499589],
       [ 0.37128624,  0.47263254],
       [ 0.36712377,  0.35862152],
       [ 0.39489562,  0.58719278],
       [ 0.22013411, -0.12008588],
       [ 0.07034745, -0.14329841],
       [ 0.21434556, -0.10126711],
       [ 0.17545175, -0.10236556],
       [ 0.37915603,  0.51081929],
       [ 0.49050405,  0.72276867],
       [ 0.40601757,  0.35971996],
       [ 0.46852075,  0.47537865],
       [ 0.48263425,  0.68458192],
       [ 0.26689771, -0.08080069],
       [ 0.44536653,  0.5506537 ],
       [ 0.208557  , -0.08244835],
       [ 0.48263425,  0.68458192],
       [ 0.30019749,  0.83128748],
       [ 0.36966016,  0.60546232],
       [ 0.45161024,  0.72167023],
       [ 0.44582168,  0.74048899],
       [ 0.22013411, -0.12008588],
       [ 0.24745081, -0.08134991]])

In [8]:
y_pred_class = pd.Series(y_pred.argmax(axis=1)).map({0: 'setosa', 1: 'versicolor', 2: 'virginica'})

In [16]:
# Evaluating the model using mean squared error and R2 score

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Mean squared error:', mse)
print('R2 score:', r2)

Mean squared error: 0.1469759135937889
R2 score: 0.3235341556221903